/*Datepicker*/
#ui-datepicker-div {
  padding: 10px;
  background: #fff;
  border-top: 1px solid #ddd;
  width: 280px;
  text-align: center;
  z-index: 1029;
  display:none;
}
#ui-datepicker-div .ui-datepicker-title {
  margin-bottom: 6px;
}
#ui-datepicker-div table {
  width: 100%;
}
#ui-datepicker-div table td,
#ui-datepicker-div table th {
  padding: 0;
}
#ui-datepicker-div table th {
  text-align:center;  
}
#ui-datepicker-div span.ui-state-default {
  color: #999;
  padding: 6px 5px;
  display: block;
  opacity: 0.5;
}
#ui-datepicker-div a {
  color: #666;
  padding: 6px 5px;
  display: block;
  text-decoration: none;
}
#ui-datepicker-div a:hover {
  cursor: pointer;
  background: #eee;
}
#ui-datepicker-div a.ui-datepicker-prev {
  float: left;
  font-size: 100%;
  margin-top: -5px;
  padding: 2px 10px;
}
#ui-datepicker-div a.ui-datepicker-next {
  float: right;
  font-size: 100%;
  margin-top: -5px;
  padding: 2px 10px;
}
#ui-datepicker-div a.ui-state-active {
  background: #346f77;
  color: #fff;
}
.ui-datepicker-title {
  font-weight:bold;
  color: #346f77;
}
.navCalendar {
  font-size: 2rem;
}